/* intuitivnejší box-sizing */
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

/*
	BARVY
	#f5f5f5					šedé pozadí stránky
	#629fe0					modrá čárka
	Jedeme retro černobíle (až na tu modrou), dnes další barvy nepotřebujeme.

	FONTY
	Merriweather		základní font na stránce
	Raleway					nadpisy a menu
	Oba fonty jsou dostupné na Google Fonts.
*/

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  font-family: "Merriweather", serif;
}
.pozadi {
  position: relative;
  padding: 25px;
  width: 100%;
  background-image: url(images/island-hlavicka.jpg);
  background-size: cover;
}
h1,
h2,
ul {
  font-family: "Raleway", sans-serif;
}
.pozadi p {
  font-size: 12px;
}
.pozadi::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
}
h1 {
  margin: 0;
  font-size: 40px;
}
.bila {
  position: relative;
  margin-top: 0;
  padding-bottom: 15px;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.38);
}
.jana {
  position: relative;
  font-weight: 100;
  color: silver;
  font-style: italic;
}
.jana::before {
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  height: 1px;
  width: 70px;
  background-color: silver;
}
ul {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
}
li {
  list-style: none;
}
li a {
  display: block;
  padding: 5px;
  border-bottom: 0.5px solid silver;
  font-size: 13px;
  color: #c0c0c0;
  text-decoration: none;
  text-transform: uppercase;
}
.odsazeni {
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}
h2 {
  text-align: left;
}
h2::after {
  content: "";
  display: block;
  margin-left: -20px;
  margin-top: 15px;
  width: 75px;
  height: 3px;
  background-color: #629fe0;
}
img {
  width: 100%;
}
.fotky p,
.fotky a {
  margin-top: 0;
  font-size: 12px;
  color: grey;
}
.galerie p,
.galerie a {
  margin-top: 0;
  color: grey;
}
.popisek {
  font-weight: bold;
  font-size: 12px;
}
.popisek a,
span {
  font-size: 10px;
  font-weight: lighter;
}

.posledni {
  padding-bottom: 12px;
}
footer {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  box-shadow: inset 0px 10px 13px -1px rgb(226, 226, 226);
}
footer p,
footer a {
  text-align: left;
  font-size: 9px;
  color: silver;
}
/*-----------------KONEC MOBILNÍ VERZE------------------------*/

@media screen and (min-width: 541px) {
  ul {
    display: flex;
    margin-top: 30px;
    border-top: 0.5px solid silver;
    border-bottom: 0.5px solid silver;
    margin-left: 25px;
    margin-right: 25px;
  }
  ul li {
    flex: 0 0 25%;
  }

  li + li {
    border-left: 0.5px solid silver;
  }

  li a {
    border-bottom: 0;
  }
  .fotky {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  .fotky p,
  .fotky a {
    color: white;
  }
  .vpravo-dole {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

  .gridgalerie {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .gridgalerie img {
    display: block;
  }
  .popisek {
    display: none;
  }

/*--------------------PC Verze--------------*/
@media screen and (min-width: 960px) {
  .pozadi {
    padding: 90px;
  }
  h1 {
    font-size: 90px;
  }
  .bila {
    margin-left: 250px;
    margin-right: 250px;
  }
  .jana {
    font-style: normal;
  }

  .stranka {
    position: relative;
    top: 60px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
    margin-top: -130px;
    max-width: 960px;
    box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.26);
  }
  .flexbox {
    display: flex;
    padding-top: 40px;
    padding-right: 40px;
  }
  nav {
    flex-shrink: 0;
  }
  ul {
    display: block;
    margin-right: 40px;
    margin-top: 16px;
    padding-left: 40px;
    padding-right: 0;
    text-align: left;
    border: 0;
  }
  li + li {
    border: 0;
  }
  li a {
    border-bottom: 0.5px solid silver;
  }
  .odsazeni {
    padding-right: 0;
  }

  .odsazeni p {
    padding-left: 40px;
    padding-right: 40px;
  }
  h2 {
    padding-left: 40px;
    font-size: 35px;
  }
  h2::after {
    margin-left: -60px;
  }
  .odskok {
    padding-left: 280px;
  }
  .odskok h2::after {
    margin-left: -30px;
  }
  .gridgalerie {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  footer {
    position: relative;
    top: 60px;
    padding-left: 0;
    padding-top: 30px;
    margin: 0 auto;
    padding-bottom: 10px;
    max-width: 960px;
    background-color: #f5f5f5;
    box-shadow: none;
  }
  footer p,
  footer a {
    font-size: 13px;
    font-weight: bold;
  }
  .schovat {
    display: none;
  }

  /*----------------ANIMACE TEXTU NA OBRÁZKU----------------------*/
  .kontejner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .kontejner:hover .animace {
    height: 25%;
  }
  .kontejner img:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
  .animace {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
  }
  .popisek {
    display: block;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .galerie p,
  .galerie a {
    color: white;
  }
  .posledni {
    padding-top: 10px;
  }
}